<%# locals: (project:, environment:) %>

<%= form_with(model: [ project, environment ], class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :name %>
    <%=
      form.text_field :name,
                      autofocus: true,
                      placeholder: "e.g. Development, Test, or Production",
                      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>

    <% if environment.errors[:name].any? %>
      <div class="mt-3 font-medium text-red-500">
        <%= environment.errors.full_messages_for(:name).first %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :description, "Description (optional)" %>
    <%= form.text_area :description, class: "block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full" %>

    <% if environment.errors[:description].any? %>
      <div class="mt-3 font-medium text-red-500">
        <%= environment.errors.full_messages_for(:description).first %>
      </div>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
